*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.post{
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 5px 0px black; */
}
.content{
    background-color: rgba(255, 233, 216, 0.2);
    width: 95%;
    font-size: 1.1rem;
    padding: 10px 20px 10px 10px;
    border: 1px solid rgba(255, 221, 195, 0.381);
    box-shadow: 5px 5px 5px 0px rgba(184, 93, 18, 0.097);
}
.metainfo{
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5% 0% 0%;
}
.metainfo p{
    color: rgb(175, 175, 175);
    font-size: 0.8rem;
}
.title{
    align-items: center;
    font-size: 1.5rem;
}
.title:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(184, 93, 18, 0.097);

}
.delete{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: brown;
    margin: 10px 10px 20px 90%;
}
.delete:hover{
    color: red;
    transition: 1s;
    cursor: pointer;
}